/* Mocha */
:root {
  --rosewater: hsl(10, 56%, 91%);
  --flamingo: hsl(0, 59%, 88%);
  --pink: hsl(316, 72%, 86%);
  --mauve: hsl(267, 84%, 81%);
  --red: hsl(343, 81%, 75%);
  --maroon: hsl(350, 65%, 78%);
  --peach: hsl(23, 92%, 76%);
  --yellow: hsl(41, 86%, 83%);
  --green: hsl(115, 54%, 76%);
  --teal: hsl(170, 57%, 73%);
  --sky: hsl(189, 71%, 73%);
  --sapphire: hsl(199, 76%, 69%);
  --blue: hsl(217, 92%, 76%);
  --lavender: hsl(232, 97%, 85%);
  --text: hsl(226, 64%, 88%);
  --subtext1: hsl(227, 35%, 80%);
  --subtext0: hsl(228, 24%, 72%);
  --overlay2: hsl(228, 17%, 64%);
  --overlay1: hsl(230, 13%, 56%);
  --overlay0: hsl(231, 11%, 47%);
  --surface2: hsl(233, 12%, 39%);
  --surface1: hsl(234, 13%, 31%);
  --surface0: hsl(237, 16%, 23%);
  --base: hsl(240, 21%, 15%);
  --mantle: hsl(240, 21%, 12%);
  --crust: hsl(240, 23%, 9%);
}

meta {
  -theme-interface-style: dark;
  -theme-accent-color: hsl(0, 59%, 88%);
}

/*
 * Window styles
 */
meta.window {
  background-color: hsl(240, 21%, 15%);
  border-color: hsl(237, 16%, 23%);
}
meta.titlebar {
  color: hsl(228, 24%, 72%);
  border-color: hsl(237, 16%, 23%);
}
meta.titlebar.inactive {
}

meta.button {
  background: linear-gradient(hsl(234, 13%, 31%), hsl(237, 16%, 23%));
  border: linear-gradient(hsl(234, 13%, 31%), hsl(237, 16%, 23%));
  color: hsl(10, 56%, 91%);
}
meta.button.highlighted {
  background: linear-gradient(hsl(233, 12%, 39%), hsl(234, 13%, 31%));
  border: linear-gradient(hsl(233, 12%, 39%), hsl(234, 13%, 31%));
  color: hsl(350, 65%, 78%);
}
meta.button.selected {
  color: hsl(350, 65%, 78%);
}
meta.button.highlighted.selected {
  color: hsl(240, 21%, 12%);
}
meta.button.disabled {
}

meta.textfield {
  background-color: hsl(240, 21%, 12%);
  border-color: hsl(237, 16%, 23%);
}
meta.textfield.highlighted {
  background-color: hsl(240, 21%, 12%);
  border-color: hsl(234, 13%, 31%);
}

/*
 * Document styles
 */
meta.document {
  background-color: hsl(240, 21%, 15%);
  border-color: hsl(228, 17%, 64%);
}

meta.document.button {
  background: linear-gradient(hsl(234, 13%, 31%), hsl(237, 16%, 23%));
  border: linear-gradient(hsl(234, 13%, 31%), hsl(237, 16%, 23%));
}
meta.document.button.disabled {
  background: linear-gradient(hsl(228, 17%, 64%), hsl(228, 17%, 64%));
}
meta.document.button.highlighted {
  background: linear-gradient(hsl(23, 92%, 76%), hsl(350, 65%, 78%));
}

meta.document.textfield {
  background-color: hsl(240, 21%, 12%);
  border-color: hsl(237, 16%, 23%);
}
meta.document.textfield.highlighted {
  background-color: hsl(240, 21%, 12%);
  border-color: hsl(234, 13%, 31%);
}

/* Text */
meta.text {
  color: hsl(226, 64%, 88%);
}
meta.text.invisible {
  color: hsl(234, 13%, 31%);
}
meta.text.selected {
}

/* Cursor */
meta.cursor {
  background-color: hsl(240, 21%, 12%);
}

/* Indentation Guides */
meta.indentguide {
  border-color: hsl(228, 17%, 64%);
}

/* Gutter */
meta.gutter {
  color: hsl(228, 17%, 64%);
}
meta.gutter.selected {
  background-color: hsl(234, 13%, 31%);
  color: hsl(226, 64%, 88%);
}

/*
 * Syntax styles
 */
comment {
  color: hsl(228, 17%, 64%);
}
processing {
  color: hsl(228, 17%, 64%);
}
declaration {
  color: hsl(170, 57%, 73%);
}
bracket {
  color: hsl(115, 54%, 76%);
}
operator {
  color: hsl(199, 76%, 69%);
}
invalid {
  background-color: hsl(23, 92%, 76%);
  color: hsl(237, 16%, 23%);
}
link {
  color: hsl(217, 92%, 76%);
}

/* Keywords */
keyword {
  color: hsl(343, 81%, 75%);
}
keyword.modifier {
  font-style: italic;
  color: hsl(170, 57%, 73%);
}
keyword.condition {
  color: hsl(217, 92%, 76%);
}
keyword.construct {
  color: hsl(217, 92%, 76%);
}
keyword.statement {
  color: hsl(217, 92%, 76%);
}
keyword.self {
  color: hsl(217, 92%, 76%);
}
keyword.self.prefix {
  color: hsl(189, 71%, 73%);
}

/* Values */
value.boolean {
  color: hsl(217, 92%, 76%);
}
value.null {
  color: hsl(217, 92%, 76%);
}
value.number {
  color: hsl(10, 56%, 91%);
}
value.entity {
  color: hsl(217, 92%, 76%);
}
value.symbol {
  color: hsl(217, 92%, 76%);
}

/* Identifiers */
identifier.type {
  color: hsl(23, 92%, 76%);
}
identifier.constant,
identifier.global,
identifier.variable {
  color: hsl(232, 97%, 85%);
}
identifier.constant.prefix,
identifier.global.prefix,
identifier.variable.prefix {
  color: hsl(199, 76%, 69%);
}
identifier.property {
  color: hsl(10, 56%, 91%);
}
identifier.property.prefix {
  color: hsl(237, 16%, 23%);
}
identifier.decorator,
identifier.function,
identifier.method {
  color: hsl(189, 71%, 73%);
}
identifier.key {
  color: hsl(232, 97%, 85%);
}
identifier.argument {
  color: hsl(232, 97%, 85%);
}
identifier.argument.prefix {
  color: hsl(237, 16%, 23%);
}

/* Strings */
string {
  color: hsl(115, 54%, 76%);
}
string.delimiter {
  color: hsl(343, 81%, 75%);
}
string.escape {
  color: hsl(10, 56%, 91%);
}
string.key {
  color: hsl(232, 97%, 85%);
}
string-keyword {
  color: hsl(237, 16%, 23%);
}
string-template {
  color: hsl(41, 86%, 83%);
}
regex {
  color: hsl(41, 86%, 83%);
}
regex.escape {
  color: hsl(41, 86%, 83%);
}
cdata {
  color: hsl(217, 92%, 76%);
}

/* Markup */
markup.heading {
  color: hsl(23, 92%, 76%);
}
markup.line {
  color: hsl(232, 97%, 85%);
}
markup.bold {
  color: hsl(199, 76%, 69%);
  font-weight: bold;
}
markup.italic {
  color: hsl(232, 97%, 85%);
  font-style: italic;
}
markup.strikethrough {
  color: hsl(228, 17%, 64%);
}
markup.list.item {
  color: hsl(23, 92%, 76%);
}
markup.code {
  background-color: hsl(240, 21%, 12%);
}
markup.link {
  color: hsl(217, 92%, 76%);
}

/* Types */
definition.class.name,
definition.type.name,
definition.package.name,
definition.enum.name,
definition.union.name,
definition.struct.name {
  color: hsl(170, 57%, 73%);
}

/* Members */
definition.property.name {
  color: hsl(170, 57%, 73%);
}
definition.function.name,
definition.method.name {
  color: hsl(170, 57%, 73%);
}

/* Tags */
tag {
  color: hsl(170, 57%, 73%);
}
tag.name {
  color: hsl(189, 71%, 73%);
}
tag.framework {
  color: hsl(267, 84%, 81%);
}
tag.framework.name {
  color: hsl(267, 84%, 81%);
}
tag.attribute.name {
  color: hsl(232, 97%, 85%);
}
tag.framework.attribute.name {
  color: hsl(316, 72%, 86%);
}
tag.attribute.value {
  color: hsl(0, 59%, 84%);
}
tag.attribute.value.delimiter {
  color: hsl(350, 65%, 78%);
}
tag.attribute.operator {
  color: hsl(230, 13%, 56%);
}
tag.attribute.value.link {
  color: hsl(217, 92%, 76%);
}

/* Styles */
style.at {
  color: hsl(41, 86%, 83%);
  font-weight: bold;
}
style.selector.element {
  font-weight: bold;
}
style.selector.identifier.id {
  color: hsl(41, 86%, 83%);
}
style.selector.identifier.class {
  color: hsl(232, 97%, 85%);
}
style.selector.pseudoclass {
  color: hsl(232, 97%, 85%);
}
style.selector.pseudoelement {
  color: hsl(41, 86%, 83%);
}
style.attribute.name {
  color: hsl(170, 57%, 73%);
}
style.value.number {
  color: hsl(10, 56%, 91%);
}
style.value.color.hex {
  color: hsl(316, 72%, 86%);
}
style.value.keyword {
  color: hsl(217, 92%, 76%);
}
style.value.color.named {
  color: hsl(217, 92%, 76%);
}
style.value.identifier.function {
  color: hsl(189, 71%, 73%);
}

terminal.black {
  color: #45475a;
}
terminal.blue {
  color: #89b4fa;
}
terminal.red {
  color: #f38ba8;
}
terminal.green {
  color: #a6e3a1;
}
terminal.yellow {
  color: #f9e2af;
}
terminal.magenta {
  color: #f5c2e7;
}
terminal.cyan {
  color: #94e2d5;
}
terminal.white {
  color: #a6adc8;
}
terminal.bright-black {
  color: #585b70;
}
terminal.bright-white {
  color: #a6adc8;
}
terminal.bright-blue {
  color: #89b4fa;
}
terminal.bright-red {
  color: #f38ba8;
}
terminal.bright-green {
  color: #a6e3a1;
}
terminal.bright-yellow {
  color: #f9e2af;
}
terminal.bright-magenta {
  color: #f5c2e7;
}
terminal.bright-cyan {
  color: #94e2d5;
}
