/* Frappé */
:root {
  --rosewater: hsl(10, 57%, 88%);
  --flamingo: hsl(0, 58%, 84%);
  --pink: hsl(316, 73%, 84%);
  --mauve: hsl(277, 59%, 76%);
  --red: hsl(359, 68%, 71%);
  --maroon: hsl(358, 66%, 76%);
  --peach: hsl(20, 79%, 70%);
  --yellow: hsl(40, 62%, 73%);
  --green: hsl(96, 44%, 68%);
  --teal: hsl(172, 39%, 65%);
  --sky: hsl(189, 48%, 73%);
  --sapphire: hsl(199, 55%, 69%);
  --blue: hsl(222, 74%, 74%);
  --lavender: hsl(239, 66%, 84%);
  --text: hsl(227, 70%, 87%);
  --subtext1: hsl(227, 44%, 80%);
  --subtext0: hsl(228, 29%, 73%);
  --overlay2: hsl(228, 22%, 66%);
  --overlay1: hsl(227, 17%, 58%);
  --overlay0: hsl(229, 13%, 52%);
  --surface2: hsl(228, 13%, 44%);
  --surface1: hsl(227, 15%, 37%);
  --surface0: hsl(230, 16%, 30%);
  --base: hsl(229, 19%, 23%);
  --mantle: hsl(231, 19%, 20%);
  --crust: hsl(229, 20%, 17%);
}

meta {
  -theme-interface-style: dark;
  -theme-accent-color: hsl(0, 59%, 88%);
}

/*
 * Window styles
 */
meta.window {
  background-color: hsl(229, 19%, 23%);
  border-color: hsl(230, 16%, 30%);
}
meta.titlebar {
  color: hsl(228, 29%, 73%);
  border-color: hsl(230, 16%, 30%);
}
meta.titlebar.inactive {
}

meta.button {
  background: linear-gradient(hsl(227, 15%, 37%), hsl(230, 16%, 30%));
  border: linear-gradient(hsl(227, 15%, 37%), hsl(230, 16%, 30%));
  color: hsl(10, 57%, 88%);
}
meta.button.highlighted {
  background: linear-gradient(hsl(228, 13%, 44%), hsl(227, 15%, 37%));
  border: linear-gradient(hsl(228, 13%, 44%), hsl(227, 15%, 37%));
  color: hsl(358, 66%, 76%);
}
meta.button.selected {
  color: hsl(358, 66%, 76%);
}
meta.button.highlighted.selected {
  color: hsl(231, 19%, 20%);
}
meta.button.disabled {
}

meta.textfield {
  background-color: hsl(231, 19%, 20%);
  border-color: hsl(230, 16%, 30%);
}
meta.textfield.highlighted {
  background-color: hsl(231, 19%, 20%);
  border-color: hsl(227, 15%, 37%);
}

/*
 * Document styles
 */
meta.document {
  background-color: hsl(229, 19%, 23%);
  border-color: hsl(228, 22%, 66%);
}

meta.document.button {
  background: linear-gradient(hsl(227, 15%, 37%), hsl(230, 16%, 30%));
  border: linear-gradient(hsl(227, 15%, 37%), hsl(230, 16%, 30%));
}
meta.document.button.disabled {
  background: linear-gradient(hsl(228, 22%, 66%), hsl(228, 22%, 66%));
}
meta.document.button.highlighted {
  background: linear-gradient(hsl(20, 79%, 70%), hsl(358, 66%, 76%));
}

meta.document.textfield {
  background-color: hsl(231, 19%, 20%);
  border-color: hsl(230, 16%, 30%);
}
meta.document.textfield.highlighted {
  background-color: hsl(231, 19%, 20%);
  border-color: hsl(227, 15%, 37%);
}

/* Text */
meta.text {
  color: hsl(227, 70%, 87%);
}
meta.text.invisible {
  color: hsl(227, 15%, 37%);
}
meta.text.selected {
}

/* Cursor */
meta.cursor {
  background-color: hsl(231, 19%, 20%);
}

/* Indentation Guides */
meta.indentguide {
  border-color: hsl(228, 22%, 66%);
}

/* Gutter */
meta.gutter {
  color: hsl(228, 22%, 66%);
}
meta.gutter.selected {
  background-color: hsl(227, 15%, 37%);
  color: hsl(227, 70%, 87%);
}

/*
 * Syntax styles
 */
comment {
  color: hsl(228, 22%, 66%);
}
processing {
  color: hsl(228, 22%, 66%);
}
declaration {
  color: hsl(172, 39%, 65%);
}
bracket {
  color: hsl(96, 44%, 68%);
}
operator {
  color: hsl(199, 55%, 69%);
}
invalid {
  background-color: hsl(20, 79%, 70%);
  color: hsl(230, 16%, 30%);
}
link {
  color: hsl(222, 74%, 74%);
}

/* Keywords */
keyword {
  color: hsl(359, 68%, 71%);
}
keyword.modifier {
  font-style: italic;
  color: hsl(172, 39%, 65%);
}
keyword.condition {
  color: hsl(222, 74%, 74%);
}
keyword.construct {
  color: hsl(222, 74%, 74%);
}
keyword.statement {
  color: hsl(222, 74%, 74%);
}
keyword.self {
  color: hsl(222, 74%, 74%);
}
keyword.self.prefix {
  color: hsl(189, 48%, 73%);
}

/* Values */
value.boolean {
  color: hsl(222, 74%, 74%);
}
value.null {
  color: hsl(222, 74%, 74%);
}
value.number {
  color: hsl(10, 57%, 88%);
}
value.entity {
  color: hsl(222, 74%, 74%);
}
value.symbol {
  color: hsl(222, 74%, 74%);
}

/* Identifiers */
identifier.type {
  color: hsl(20, 79%, 70%);
}
identifier.constant,
identifier.global,
identifier.variable {
  color: hsl(239, 66%, 84%);
}
identifier.constant.prefix,
identifier.global.prefix,
identifier.variable.prefix {
  color: hsl(199, 55%, 69%);
}
identifier.property {
  color: hsl(10, 57%, 88%);
}
identifier.property.prefix {
  color: hsl(230, 16%, 30%);
}
identifier.decorator,
identifier.function,
identifier.method {
  color: hsl(189, 48%, 73%);
}
identifier.key {
  color: hsl(239, 66%, 84%);
}
identifier.argument {
  color: hsl(239, 66%, 84%);
}
identifier.argument.prefix {
  color: hsl(230, 16%, 30%);
}

/* Strings */
string {
  color: hsl(96, 44%, 68%);
}
string.delimiter {
  color: hsl(359, 68%, 71%);
}
string.escape {
  color: hsl(10, 57%, 88%);
}
string.key {
  color: hsl(239, 66%, 84%);
}
string-keyword {
  color: hsl(230, 16%, 30%);
}
string-template {
  color: hsl(40, 62%, 73%);
}
regex {
  color: hsl(40, 62%, 73%);
}
regex.escape {
  color: hsl(40, 62%, 73%);
}
cdata {
  color: hsl(222, 74%, 74%);
}

/* Markup */
markup.heading {
  color: hsl(20, 79%, 70%);
}
markup.line {
  color: hsl(239, 66%, 84%);
}
markup.bold {
  color: hsl(199, 55%, 69%);
  font-weight: bold;
}
markup.italic {
  color: hsl(239, 66%, 84%);
  font-style: italic;
}
markup.strikethrough {
  color: hsl(228, 22%, 66%);
}
markup.list.item {
  color: hsl(20, 79%, 70%);
}
markup.code {
  background-color: hsl(231, 19%, 20%);
}
markup.link {
  color: hsl(222, 74%, 74%);
}

/* Types */
definition.class.name,
definition.type.name,
definition.package.name,
definition.enum.name,
definition.union.name,
definition.struct.name {
  color: hsl(172, 39%, 65%);
}

/* Members */
definition.property.name {
  color: hsl(172, 39%, 65%);
}
definition.function.name,
definition.method.name {
  color: hsl(172, 39%, 65%);
}

/* Tags */
tag {
  color: hsl(172, 39%, 65%);
}
tag.name {
  color: hsl(189, 48%, 73%);
}
tag.framework {
  color: hsl(277, 59%, 76%);
}
tag.framework.name {
  color: hsl(277, 59%, 76%);
}
tag.attribute.name {
  color: hsl(239, 66%, 84%);
}
tag.framework.attribute.name {
  color: hsl(316, 73%, 84%);
}
tag.attribute.value {
  color: hsl(0, 59%, 84%);
}
tag.attribute.value.delimiter {
  color: hsl(358, 66%, 76%);
}
tag.attribute.operator {
  color: hsl(227, 17%, 58%);
}
tag.attribute.value.link {
  color: hsl(222, 74%, 74%);
}

/* Styles */
style.at {
  color: hsl(40, 62%, 73%);
  font-weight: bold;
}
style.selector.element {
  font-weight: bold;
}
style.selector.identifier.id {
  color: hsl(40, 62%, 73%);
}
style.selector.identifier.class {
  color: hsl(239, 66%, 84%);
}
style.selector.pseudoclass {
  color: hsl(239, 66%, 84%);
}
style.selector.pseudoelement {
  color: hsl(40, 62%, 73%);
}
style.attribute.name {
  color: hsl(172, 39%, 65%);
}
style.value.number {
  color: hsl(10, 57%, 88%);
}
style.value.color.hex {
  color: hsl(316, 73%, 84%);
}
style.value.keyword {
  color: hsl(222, 74%, 74%);
}
style.value.color.named {
  color: hsl(222, 74%, 74%);
}
style.value.identifier.function {
  color: hsl(189, 48%, 73%);
}

terminal.black {
  color: #51576d;
}
terminal.blue {
  color: #8caaee;
}
terminal.red {
  color: #e78284;
}
terminal.green {
  color: #a6d189;
}
terminal.yellow {
  color: #e5c890;
}
terminal.magenta {
  color: #f4b8e4;
}
terminal.cyan {
  color: #81c8be;
}
terminal.white {
  color: #a5adce;
}
terminal.bright-black {
  color: #626880;
}
terminal.bright-white {
  color: #a5adce;
}
terminal.bright-blue {
  color: #8caaee;
}
terminal.bright-red {
  color: #e78284;
}
terminal.bright-green {
  color: #a6d189;
}
terminal.bright-yellow {
  color: #e5c890;
}
terminal.bright-magenta {
  color: #f4b8e4;
}
terminal.bright-cyan {
  color: #81c8be;
}
