/* Macchiato */
:root {
  --rosewater: hsl(10, 58%, 90%);
  --flamingo: hsl(0, 58%, 86%);
  --pink: hsl(316, 74%, 85%);
  --mauve: hsl(267, 83%, 80%);
  --red: hsl(351, 74%, 73%);
  --maroon: hsl(355, 71%, 77%);
  --peach: hsl(21, 85%, 73%);
  --yellow: hsl(40, 70%, 78%);
  --green: hsl(105, 48%, 72%);
  --teal: hsl(171, 47%, 69%);
  --sky: hsl(189, 60%, 73%);
  --sapphire: hsl(199, 65%, 69%);
  --blue: hsl(220, 83%, 75%);
  --lavender: hsl(234, 82%, 85%);
  --text: hsl(227, 68%, 88%);
  --subtext1: hsl(228, 39%, 80%);
  --subtext0: hsl(227, 27%, 72%);
  --overlay2: hsl(228, 20%, 65%);
  --overlay1: hsl(228, 15%, 57%);
  --overlay0: hsl(230, 12%, 49%);
  --surface2: hsl(230, 14%, 42%);
  --surface1: hsl(231, 16%, 34%);
  --surface0: hsl(230, 19%, 26%);
  --base: hsl(232, 24%, 18%);
  --mantle: hsl(233, 23%, 15%);
  --crust: hsl(236, 23%, 12%);
}

meta {
  -theme-interface-style: dark;
  -theme-accent-color: hsl(0, 59%, 88%);
}

/*
 * Window styles
 */
meta.window {
  background-color: hsl(232, 24%, 18%);
  border-color: hsl(230, 19%, 26%);
}
meta.titlebar {
  color: hsl(227, 27%, 72%);
  border-color: hsl(230, 19%, 26%);
}
meta.titlebar.inactive {
}

meta.button {
  background: linear-gradient(hsl(231, 16%, 34%), hsl(230, 19%, 26%));
  border: linear-gradient(hsl(231, 16%, 34%), hsl(230, 19%, 26%));
  color: hsl(10, 58%, 90%);
}
meta.button.highlighted {
  background: linear-gradient(hsl(230, 14%, 42%), hsl(231, 16%, 34%));
  border: linear-gradient(hsl(230, 14%, 42%), hsl(231, 16%, 34%));
  color: hsl(355, 71%, 77%);
}
meta.button.selected {
  color: hsl(355, 71%, 77%);
}
meta.button.highlighted.selected {
  color: hsl(233, 23%, 15%);
}
meta.button.disabled {
}

meta.textfield {
  background-color: hsl(233, 23%, 15%);
  border-color: hsl(230, 19%, 26%);
}
meta.textfield.highlighted {
  background-color: hsl(233, 23%, 15%);
  border-color: hsl(231, 16%, 34%);
}

/*
 * Document styles
 */
meta.document {
  background-color: hsl(232, 24%, 18%);
  border-color: hsl(228, 20%, 65%);
}

meta.document.button {
  background: linear-gradient(hsl(231, 16%, 34%), hsl(230, 19%, 26%));
  border: linear-gradient(hsl(231, 16%, 34%), hsl(230, 19%, 26%));
}
meta.document.button.disabled {
  background: linear-gradient(hsl(228, 20%, 65%), hsl(228, 20%, 65%));
}
meta.document.button.highlighted {
  background: linear-gradient(hsl(21, 85%, 73%), hsl(355, 71%, 77%));
}

meta.document.textfield {
  background-color: hsl(233, 23%, 15%);
  border-color: hsl(230, 19%, 26%);
}
meta.document.textfield.highlighted {
  background-color: hsl(233, 23%, 15%);
  border-color: hsl(231, 16%, 34%);
}

/* Text */
meta.text {
  color: hsl(227, 68%, 88%);
}
meta.text.invisible {
  color: hsl(231, 16%, 34%);
}
meta.text.selected {
}

/* Cursor */
meta.cursor {
  background-color: hsl(233, 23%, 15%);
}

/* Indentation Guides */
meta.indentguide {
  border-color: hsl(228, 20%, 65%);
}

/* Gutter */
meta.gutter {
  color: hsl(228, 20%, 65%);
}
meta.gutter.selected {
  background-color: hsl(231, 16%, 34%);
  color: hsl(227, 68%, 88%);
}

/*
 * Syntax styles
 */
comment {
  color: hsl(228, 20%, 65%);
}
processing {
  color: hsl(228, 20%, 65%);
}
declaration {
  color: hsl(171, 47%, 69%);
}
bracket {
  color: hsl(105, 48%, 72%);
}
operator {
  color: hsl(199, 65%, 69%);
}
invalid {
  background-color: hsl(21, 85%, 73%);
  color: hsl(230, 19%, 26%);
}
link {
  color: hsl(220, 83%, 75%);
}

/* Keywords */
keyword {
  color: hsl(351, 74%, 73%);
}
keyword.modifier {
  font-style: italic;
  color: hsl(171, 47%, 69%);
}
keyword.condition {
  color: hsl(220, 83%, 75%);
}
keyword.construct {
  color: hsl(220, 83%, 75%);
}
keyword.statement {
  color: hsl(220, 83%, 75%);
}
keyword.self {
  color: hsl(220, 83%, 75%);
}
keyword.self.prefix {
  color: hsl(189, 60%, 73%);
}

/* Values */
value.boolean {
  color: hsl(220, 83%, 75%);
}
value.null {
  color: hsl(220, 83%, 75%);
}
value.number {
  color: hsl(10, 58%, 90%);
}
value.entity {
  color: hsl(220, 83%, 75%);
}
value.symbol {
  color: hsl(220, 83%, 75%);
}

/* Identifiers */
identifier.type {
  color: hsl(21, 85%, 73%);
}
identifier.constant,
identifier.global,
identifier.variable {
  color: hsl(234, 82%, 85%);
}
identifier.constant.prefix,
identifier.global.prefix,
identifier.variable.prefix {
  color: hsl(199, 65%, 69%);
}
identifier.property {
  color: hsl(10, 58%, 90%);
}
identifier.property.prefix {
  color: hsl(230, 19%, 26%);
}
identifier.decorator,
identifier.function,
identifier.method {
  color: hsl(189, 60%, 73%);
}
identifier.key {
  color: hsl(234, 82%, 85%);
}
identifier.argument {
  color: hsl(234, 82%, 85%);
}
identifier.argument.prefix {
  color: hsl(230, 19%, 26%);
}

/* Strings */
string {
  color: hsl(105, 48%, 72%);
}
string.delimiter {
  color: hsl(351, 74%, 73%);
}
string.escape {
  color: hsl(10, 58%, 90%);
}
string.key {
  color: hsl(234, 82%, 85%);
}
string-keyword {
  color: hsl(230, 19%, 26%);
}
string-template {
  color: hsl(40, 70%, 78%);
}
regex {
  color: hsl(40, 70%, 78%);
}
regex.escape {
  color: hsl(40, 70%, 78%);
}
cdata {
  color: hsl(220, 83%, 75%);
}

/* Markup */
markup.heading {
  color: hsl(21, 85%, 73%);
}
markup.line {
  color: hsl(234, 82%, 85%);
}
markup.bold {
  color: hsl(199, 65%, 69%);
  font-weight: bold;
}
markup.italic {
  color: hsl(234, 82%, 85%);
  font-style: italic;
}
markup.strikethrough {
  color: hsl(228, 20%, 65%);
}
markup.list.item {
  color: hsl(21, 85%, 73%);
}
markup.code {
  background-color: hsl(233, 23%, 15%);
}
markup.link {
  color: hsl(220, 83%, 75%);
}

/* Types */
definition.class.name,
definition.type.name,
definition.package.name,
definition.enum.name,
definition.union.name,
definition.struct.name {
  color: hsl(171, 47%, 69%);
}

/* Members */
definition.property.name {
  color: hsl(171, 47%, 69%);
}
definition.function.name,
definition.method.name {
  color: hsl(171, 47%, 69%);
}

/* Tags */
tag {
  color: hsl(171, 47%, 69%);
}
tag.name {
  color: hsl(189, 60%, 73%);
}
tag.framework {
  color: hsl(267, 83%, 80%);
}
tag.framework.name {
  color: hsl(267, 83%, 80%);
}
tag.attribute.name {
  color: hsl(234, 82%, 85%);
}
tag.framework.attribute.name {
  color: hsl(316, 74%, 85%);
}
tag.attribute.value {
  color: hsl(0, 59%, 84%);
}
tag.attribute.value.delimiter {
  color: hsl(355, 71%, 77%);
}
tag.attribute.operator {
  color: hsl(228, 15%, 57%);
}
tag.attribute.value.link {
  color: hsl(220, 83%, 75%);
}

/* Styles */
style.at {
  color: hsl(40, 70%, 78%);
  font-weight: bold;
}
style.selector.element {
  font-weight: bold;
}
style.selector.identifier.id {
  color: hsl(40, 70%, 78%);
}
style.selector.identifier.class {
  color: hsl(234, 82%, 85%);
}
style.selector.pseudoclass {
  color: hsl(234, 82%, 85%);
}
style.selector.pseudoelement {
  color: hsl(40, 70%, 78%);
}
style.attribute.name {
  color: hsl(171, 47%, 69%);
}
style.value.number {
  color: hsl(10, 58%, 90%);
}
style.value.color.hex {
  color: hsl(316, 74%, 85%);
}
style.value.keyword {
  color: hsl(220, 83%, 75%);
}
style.value.color.named {
  color: hsl(220, 83%, 75%);
}
style.value.identifier.function {
  color: hsl(189, 60%, 73%);
}

terminal.black {
  color: #494d64;
}
terminal.blue {
  color: #8aadf4;
}
terminal.red {
  color: #ed8796;
}
terminal.green {
  color: #a6da95;
}
terminal.yellow {
  color: #eed49f;
}
terminal.magenta {
  color: #f5bde6;
}
terminal.cyan {
  color: #8bd5ca;
}
terminal.white {
  color: #a5adcb;
}
terminal.bright-black {
  color: #5b6078;
}
terminal.bright-white {
  color: #a5adcb;
}
terminal.bright-blue {
  color: #8aadf4;
}
terminal.bright-red {
  color: #ed8796;
}
terminal.bright-green {
  color: #a6da95;
}
terminal.bright-yellow {
  color: #eed49f;
}
terminal.bright-magenta {
  color: #f5bde6;
}
terminal.bright-cyan {
  color: #8bd5ca;
}
